/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
:root{
  --darkgreen:#25403B;
  --darkbrown:#8C6D51;
  --lightbrown:#BF9B7A;
  --lightbright:#D9C8BF;
  --bright:#F2E9E9;
  /*second choice*/
  --lightpink:#F2D5E5;
  --pink:#F2CEE6;
}